{% import "bootstrap/wtf.html" as wtf %}

{% extends "base.html" %}

{% block content %}

<div class="container text-center">
    <div class="jumbotron" >
      <h4 class = "text-center">Click label buttons at bottom of page to annotate data.</h4>
      <h5 style = "color: gray">This will tag a single label to each row of data</h5>
    
    </div>

</div>
      <div class="container" style="height:700px">
            <div class="jumbotron">
                <h6 style  = "color: gray">You are currently at row {{ row_num }} of {{ total_rows }}</h6>  
                <h5>{{ text_string }}</h5>
            </div>
        </div>

<div class="col-md-12">

    <div class = "text-center">
    
    

    {{ form.crsf_token }}

    
    {{ wtf.quick_form(form)}}
    
    <br>

    {{ goto_form.crsf_token }}
    {{ wtf.quick_form(goto_form)}}
    <br>
    {{ add_label_form.crsf_token }}
    {{ wtf.quick_form(add_label_form)}}
    
    <br>
    {% if show_link %}
    <a href="/get_result/" target = "blank"><button class='btn btn-default'>Download Labelled File</button></a>
    {% endif %}
    </div>

</div>
<div>
    <p></p>
   
</div>
   
{%- endblock %}